a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.image{
    width: 50%;
    padding: 5%;
}

.content {
    text-align: center;       /* Asegura que el texto esté centrado */
}

button:disabled {
    opacity: 0.5;  /* Cambia la opacidad cuando el botón está deshabilitado */
    cursor: not-allowed;  /* Muestra el cursor de "no permitido" */
}
.reload-btn {
    text-align: center;
    background: #eee;
    padding: 10px;
    color: rgb(61, 61, 61);
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 230px;
    display: inline-block;
    cursor: pointer;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;  /* Centrar horizontalmente */
    align-items: center;      /* Centrar verticalmente */
    flex-direction: column;   /* Colocar elementos en columna */
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;

	 text-align: center;
	 background-color: #2a2a2a;
}

.message{
    color: white;
    font-family: monospace;
    font-size: 1.2em;
}

 .bubbly-button {
	 font-family: 'Helvetica', 'Arial', sans-serif;
	 display: inline-block;
	 font-size: 1.5em;
	 padding: 1em 2em;
	 font-family: monospace;
	 -webkit-appearance: none;
	 appearance: none;
	 background-color: #ffa14c;
	 color: #fff;
	 border-radius: 4px;
	 border: none;
	 cursor: pointer;
	 position: relative;
	 transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
	 box-shadow: 0 2px 25px rgba(255,90, 0, 0.5);
}
 .bubbly-button:focus {
	 outline: 0;
}
 .bubbly-button:before, .bubbly-button:after {
	 position: absolute;
	 content: '';
	 display: block;
	 width: 140%;
	 height: 100%;
	 left: -20%;
	 z-index: -1000;
	 transition: all ease-in-out 0.5s;
	 background-repeat: no-repeat;
}
 .bubbly-button:before {
	 display: none;
	 top: -75%;
	 background-image: radial-gradient(circle, #ffa14c 20%, transparent 20%), radial-gradient(circle, transparent 20%, #ffa14c 20%, transparent 30%), radial-gradient(circle, #ffa14c 20%, transparent 20%), radial-gradient(circle, #ffa14c 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ffa14c 15%, transparent 20%), radial-gradient(circle, #ffa14c 20%, transparent 20%), radial-gradient(circle, #ffa14c 20%, transparent 20%), radial-gradient(circle, #ffa14c 20%, transparent 20%), radial-gradient(circle, #ffa14c 20%, transparent 20%);
	 background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
 .bubbly-button:after {
	 display: none;
	 bottom: -75%;
	 background-image: radial-gradient(circle, #ffa14c 20%, transparent 20%), radial-gradient(circle, #ffa14c 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ffa14c 15%, transparent 20%), radial-gradient(circle, #ffa14c 20%, transparent 20%), radial-gradient(circle, #ffa14c 20%, transparent 20%), radial-gradient(circle, #ffa14c 20%, transparent 20%), radial-gradient(circle, #ffa14c 20%, transparent 20%);
	 background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
 .bubbly-button:active {
	 transform: scale(0.9);
	 background-color: #f14040;
	 box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}
 .bubbly-button.animate:before {
	 display: block;
	 animation: topBubbles ease-in-out 0.75s forwards;
}
 .bubbly-button.animate:after {
	 display: block;
	 animation: bottomBubbles ease-in-out 0.75s forwards;
}
 @keyframes topBubbles {
	 0% {
		 background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
	}
	 50% {
		 background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
	}
	 100% {
		 background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
		 background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
	}
}
 @keyframes bottomBubbles {
	 0% {
		 background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
	}
	 50% {
		 background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
	}
	 100% {
		 background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
		 background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
	}
}


.hidden {
    opacity: 0;
    transition: opacity 1s ease-in-out; /* Transición suave de fade */
}

.visible {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

  /* Estilos para el popup */
    #popup {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
    }
    #popup-content {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
    }
    input {
        display: block;
        margin: 10px auto;
        padding: 5px;
    }

.button-24 {
  background: #ffa14c;
  border: 1px solid #ffa14c;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #ffa14c;
}

.button-24:active {
  opacity: .5;
}


:root {
    --input-color: #52524f;
    --input-border: #ede7cd;
    --input-background: #fff;
    --input-placeholder: #a8a598;
    --input-border-focus: #ffb109;
    --group-color: var(--input-color);
    --group-border: var(--input-border);
    --group-background: #fffaee;
    --group-color-focus: #fff;
    --group-border-focus: var(--input-border-focus);
    --group-background-focus: #ff811f;
}
 .form-field {
	 display: block;
	 width: 100%;
	 padding: 8px 16px;
	 line-height: 25px;
	 font-size: 14px;
	 font-weight: 500;
	 font-family: inherit;
	 border-radius: 6px;
	 -webkit-appearance: none;
	 color: var(--input-color);
	 border: 1px solid var(--input-border);
	 background: var(--input-background);
	 transition: border 0.3s ease;
}
 .form-field::placeholder {
	 color: var(--input-placeholder);
}
 .form-field:focus {
	 outline: none;
	 border-color: var(--input-border-focus);
}
 .form-group {
	 position: relative;
	 display: flex;
	 width: 100%;
}
 .form-group > span, .form-group .form-field {
	 white-space: nowrap;
	 display: block;
}
 .form-group > span:not(:first-child):not(:last-child), .form-group .form-field:not(:first-child):not(:last-child) {
	 border-radius: 0;
}
 .form-group > span:first-child, .form-group .form-field:first-child {
	 border-radius: 6px 0 0 6px;
}
 .form-group > span:last-child, .form-group .form-field:last-child {
	 border-radius: 0 6px 6px 0;
}
 .form-group > span:not(:first-child), .form-group .form-field:not(:first-child) {
	 margin-left: -1px;
}
 .form-group .form-field {
	 position: relative;
	 z-index: 1;
	 flex: 1 1 auto;
	 width: 1%;
	 margin-top: 0;
	 margin-bottom: 0;
}
 .form-group > span {
	 text-align: center;
	 padding: 8px 12px;
	 font-size: 14px;
	 line-height: 25px;
	 color: var(--group-color);
	 background: var(--group-background);
	 border: 1px solid var(--group-border);
	 transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
}
 .form-group:focus-within > span {
	 color: var(--group-color-focus);
	 background: var(--group-background-focus);
	 border-color: var(--group-border-focus);
}
 html {
	 box-sizing: border-box;
	 -webkit-font-smoothing: antialiased;
}
 * {
	 box-sizing: inherit;
}
 *:before, *:after {
	 box-sizing: inherit;
}

 body .form-group {
	 max-width: 360px;
}
 body .form-group:not(:last-child) {
	 margin-bottom: 8px;
}
 